{% for product in products %}
    <div class="product__card">
        <a href="/products/{{ product.id }}">
            <div class="product__card__image">
                <img src="{{ image(product.picture) }}" alt="{{ product.name }}">
            </div>
        </a>
        <div class="product__card__body">
            <a href="/products/{{ product.id }}">
                <div class="product__card__body__title">{{ product.name }}</div>
            </a>
            <div class="product__card__body__footer">
                <div class="product__card__body__footer__price">${{ product.price|formatPrice }}</div>
                <button class="btn btn-primary add-to-cart" data-id="{{ product.id }}">Add to Cart</button>
            </div>
        </div>
    </div>
{% endfor %}
<script>
    document.querySelectorAll('.add-to-cart').forEach(btn => {
        btn.addEventListener('click', e => {
            fetch ('cart/add', {
                method: 'POST',
                body: JSON.stringify({ 
                    product: e.target.dataset.id
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(json => {
                document.querySelector('.toast-container').classList.remove('hidden')
                document.querySelector('.toast-title').innerHTML = json.title
                document.querySelector('.toast-body').innerHTML = json.message
            })
        })
    })
</script>