{% extends "layouts/_base.html.twig" %}

{% block title %}{{ config('app.name') }} - Login{% endblock %}

{% block content %}
    <div class="auth-page">
        <div class="auth-card">
            {% if flash('error') %}
                <div class="alert alert-error">
                    <div class="alert-title">Error</div>
                    <div class="alert-body">{{ flash('error') }}</div>
                </div>
            {% endif %}
            <h1>Welcome to Aura</h1>
            <h2>We're happy to see you again !</h2>
            <form action="/login" method="POST">
                <div class="input-block">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="you@example.org" value="{{ old('email') }}" {% if error('email') %}class="invalid"{% endif %}>
                    {% if error('email') %}
                        <div class="invalid-text">{{ error('email') }}</div>
                    {% endif %}
                </div>
                <div class="input-block">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" {% if error('password') %}class="invalid"{% endif %}>
                    {% if error('password') %}
                        <div class="invalid-text">{{ error('password') }}</div>
                    {% endif %}
                </div>
                <button class="btn btn-primary">Sign In</button>
            </form>
            <div class="bottom-text">Don't have an account yet ? <a href="/register">Create one</a></div>
        </div>
    </div>
{% endblock %}